<title><%= Title %> | Ash - <%= RuleName %></title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="<%= Source_img %>fav.ico">
<meta name="viewport" content="width=device-width,minimal-ui,target-densitydpi=device-dpi"  >
<meta name="keywords" content="Jsonic,javascript,html5,web audio,前端框架" />
<meta name="description" content="A javascript framework named Jsonic. Make user experience on sound more wonderful." />
<link rel="stylesheet" type="text/css" href="<%= Source_css %>public.css" media="screen">
<link rel="stylesheet" type="text/css" href="<%= Source_css %>github_gist.css" media="screen">
<script type="text/javascript" src="<%= Source_js %>jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="<%= Source_js %>ash.js"></script>
<script type="text/javascript" src="<%= Source_js %>highlight.pack.js"></script>
<%- DemoCss %>
<%- DemoJs %>